/*    --------------------------------------------------
  :: General
  -------------------------------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
  color: #353535;
}
/* Make it a marquee */
.marquee {
    width: 450px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 45s linear infinite;
}

.marquee:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}

.mn_v1_tcenter {
  text-align:center;
}
.mn_v1_tleft {
  text-align:left;
}
.mn_v1_tright {
  text-align:right;
}
.mn_v1{
  font-family:roboto-light;
  font-size:120%;
}
.mn_v1_tbold {
  font-weight: bold;
}
/*  --------------------------------------------------
  :: Table
  -------------------------------------------------- */
.panel {
  border: 1px solid #ddd;
  margin-bottom: 0px;
  background-color: #fcfcfc;
}
/*  --------------------------------------------------
  :: Stockfeed Template
  -------------------------------------------------- */
.mn_v1_green {
/*  color: #4bc133;*/
  background-color:#4bc133;
}
.mn_v1_red {
/*  color: #f13e2b;*/
  background-color:#f13e2b;
}
.mn_v1_marketup_img{
  align:right;
  width:15px;
}
.mn_v1_marketdown_img{
  align:right;
  width:15px;
}
.mn_v1_container{
    width:550px;
    margin: auto;
}