
<div class="mn_v1_container">
  <p class="marquee">
    <img ng-src="../images/market_up.png" class="mn_v1_marketup_img">
    <a href="https://www.nseindia.com/">Nifty</a>:9,595.10 85.35 (0.90%),
    <img ng-src="../images/market_up.png" class="mn_v1_marketup_img">
    <a href="https://www.nseindia.com/">Sensex</a>:31,028.21 278.18 (0.90%)
  </p>
  <div class="row panel mn_v1">
    <div class="col-xs-2 col-sm-2 mn_v1_center mn_v1_tbold">TICKER</div>
    <div class="col-xs-5 col-sm-5">
      <div class="col-xs-6 col-sm-6 mn_v1_tleft mn_v1_tbold">PRICE</div>
      <div class="col-xs-6 col-sm-6 mn_v1_tright mn_v1_tbold">CHANGE</div>
    </div>
    <div class="col-xs-5 col-sm-5 mn_v1_tright mn_v1_tbold">TIME</div>
  </div>

  <div class="row panel mn_v1" ng-repeat="data in feedData.collection track by $index">

    <div class="col-xs-2 col-sm-2">
      <div class="col-xs-6 col-sm-6 mn_v1_tleft">{{ data.ticker }}</div>
      <div class="col-xs-6 col-sm-6 mn_v1_tright">
        <img ng-if="data.change > 0" ng-src="../images/market_up.png" class="mn_v1_marketup_img">
        <img ng-if="data.change < 0" ng-src="../images/market_down.png" class="mn_v1_marketdown_img">
      </div>
    </div>

    <div class="col-xs-5 col-sm-5" ng-class="data.change >0 ? 'mn_v1_green' : (data.change <0)? 'mn_v1_red':''">
      <div class="col-xs-6 col-sm-6 mn_v1_tleft">{{ data.price }}</div>
      <div class="col-xs-6 col-sm-6 mn_v1_tright">({{ data.change }})</div>
    </div>

    <dir-date display="data.time" class="col-xs-5 col-sm-5 mn_v1_tright">{{ data.time }}</dir-date>

  </div>
</div>
